<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>New Nurse</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${nurse.id == null}">New Nurse</h1>
		<h1 th:if="${nurse.id != null}">Edit Nurse</h1>
		<hr />
		<form th:action="@{/nurses}"
			th:method="@{${nurse.id == null} ? 'post' : 'put'}"
			th:object="${nurse}">
			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label for="name">Name</label> <input id="name" name="name"
					type="text" class="form-control" th:field="*{name}" />
			</div>
			
			<div class="form-group">
				<label for="birth">Birth</label> <input id="birth" name="birth"
					type="text" class="form-control" th:field="*{birth}" placeholder="01/01/1900"/>
			</div>
			
			<div class="form-group">
				<label for="cpf">CPF</label> <input id="cpf" name="cpf"
					type="text" class="form-control" th:field="*{cpf}" />
			</div>
			
			<div class="form-group">
				<label for="genre">Genre</label> <select id="genre" name="genre"
					class="form-control" th:field="*{genre}">
					<option value="f">Female</option>
  					<option value="m">Male</option>
  					<option value="o">Other</option>
					</select>
			</div>
			
			<div class="form-group">
				<label for="email">Email</label> <input id="email" name="email"
					type="text" class="form-control" th:field="*{email}" />
			</div>
			<div class="form-group">
				<label for="cell">Cell Phone</label> <input
					id="cell" name="cell" type="text"
					class="form-control" th:field="*{cell}" />
			</div>
			<div class="form-group">
				<label for="crm">COREN</label> <input
					id="coren" name="coren" type="text"
					class="form-control" th:field="*{coren}" />
			</div>
			 

			<button type="submit" class="btn btn-success">Save</button>
			<a th:href="@{/nurses}" class="btn btn-default">Back</a>
		</form>
	</div>
</body>
</html>